.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .appTitle {
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
    }

    .toggle {
        font-size: 13px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 2.5px;

        padding: 0 36px 0 2px;
        position: relative;

        transition: all 0.2s ease 0s;

        &:hover {
            transition: all 0.2s ease 0s;
        }

        .themeIcon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}